<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<b>Users ID:</b>
<p th:text="${person.getId()}">VALUE</p>
<b>Имя человека:</b>
<p th:text="${person.getName()}">VALUE</p>
<!--<b>Фамилия человека:</b>-->
<!--<p th:text="${person.getSurname()}">VALUE</p>-->
<b>Возраст человека:</b>
<p th:text="${person.getAge()}">VALUE</p>
<b>Email человека:</b>
<p th:text="${person.getEmail()}">VALUE</p>
<br/>
<a th:href="@{/users/{id}/edit(id=${person.getId()})}">Изменить</a>
<br/>
<form th:method="POST" th:action="@{/users/delete/{id}(id=${person.getId()})}">
    <br/>
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>